<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">Клавишные инструменты</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Кла́вишные музыка́льные инструме́нты — инструменты, извлечение звука в которых осуществляется при помощи системы рычагов и управляется при помощи клавиш, расположенных в определённом порядке и составляющих клавиатуру инструмента.</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<h2>Фортепиано</h2>
		    </div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="/images/keyboard/piano.jpg" alt="Фортепиано" class="img-inf">
			</div>
			<div class="col-md-6">
				<div id="piano_inf"></div>
				<a class="btn btn-default" id="piano_inf_btn">Развернуть</a>
			</div>
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<h2>Орган</h2>
		    </div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="/images/keyboard/organ.jpg" alt="Орган"  class="img-inf">
			</div>
			<div class="col-md-6">
				<div id="organ_inf"></div>
				<a class="btn btn-default" id="organ_inf_btn">Развернуть</a>
			</div>
		</div>		
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<h2>Аккордеон</h2>
		    </div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="/images/keyboard/accordeon.jpg" alt="Аккордеон" class="img-inf">
			</div>
			<div class="col-md-6">
				<div id="accordeon_inf"></div>
				<a class="btn btn-default" id="accordeon_inf_btn">Развернуть</a>
			</div>
		</div>		
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<h2>Баян</h2>
		    </div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="/images/keyboard/bajan.jpg" alt="Баян"  class="img-inf">
			</div>
			<div class="col-md-6">
				<div id="bajan_inf"></div>
				<a class="btn btn-default" id="bajan_inf_btn">Развернуть</a>
			</div>
		</div>		
	</div>
</div>