<div class="row">
	<div class="col-md-12">
		<h1 class="text-center">Струнные инструменты</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<p>Стру́нный музыка́льный инструме́нт — это музыкальный инструмент, в котором источником звука (вибратором) являются колебания струн. В системе Хорнбостеля — Закса они называются хордофонами. Типичными представителями струнных инструментов являются комуз, хомус, кылкыяк, кобыз, домбыра, скрипка, виолончель, альт, контрабас, арфа и гитара, гусли, балалайка, домра и другие.</p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<nav> 
			<a id="violin_inf_btn">Скрипка</a> |
			<a id="arfa_inf_btn">Арфа</a>
		</nav>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div id="stringContent"></div>
	</div>
</div>